rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /jeux/{jeuId} {
      allow read: if true;

      allow create: if request.auth != null
        && request.resource.data.auteurId == request.auth.uid
        && request.resource.data.titre is string
        && request.resource.data.titre.size() >= 2
        && request.resource.data.titre.size() <= 100
        && request.resource.data.genre in ['action','rpg','fps','sport','course','strategie','aventure','simulation']
        && request.resource.data.plateforme in ['PC','PS5','PS4','Xbox','Switch','Mobile']
        && request.resource.data.developpeur is string
        && request.resource.data.developpeur.size() >= 2
        && request.resource.data.developpeur.size() <= 80
        && request.resource.data.annee is int
        && request.resource.data.annee >= 1970
        && request.resource.data.annee <= 2030
        && request.resource.data.difficulte in ['Facile','Moyen','Difficile']
        && request.resource.data.description is string
        && request.resource.data.description.size() >= 20
        && request.resource.data.description.size() <= 1000
        && request.resource.data.favoris is bool
        && request.resource.data.note is number
        && request.resource.data.commentaires is list
        && request.resource.data.lienTelechargement is string
        && request.resource.data.image is string;

      allow update, delete: if request.auth != null
        && request.auth.uid == resource.data.auteurId;
    }
  }
}
